* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#sidebar-menu {
    width: 250px;
    position: fixed;
    /* Y angle */
    inset-block: 0;
    /* X angle */
    inset-inline-start: 0;
    border-inline-end: 1px lightgray solid;
}

.title {
    padding: 24px 24px 32px 8px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu__list-item a,
.menu__list-item a:link {
    padding: 16px 8px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

.menu__list-item a:hover {
    color: gray;
}

.menu__list-item-icon--notification::after {
    content:"";
    position: absolute;
    top: 8px;
    right: 5px;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 4px;
    background-color: red;
}

.menu__list-item-icon {
    margin-right: 16px;
    font-size: 2rem;
    position: relative;
}

#main-content {
    margin-left: 250px;
    background-color: lightgray;
    width: calc(100vw-250px);
    min-height: 100vh;
    overflow-y: auto;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-height: 100%;
    gap: 16px;
}

.post {
    background-color: white;
    border: gray solid 1px;
    width: 400px;
    height: 100%;
    border-radius: 4px;
}

.userinfo {
    display: flex;
    /* border: 2px solid black; */
    height: 40px;
}

.user-icon {
    background-color: aqua;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    position: absolute;
    margin: 5px;
}

.username {
    margin-left: 50px;
    margin-top: 13px;
    font-size: small;
}

.dots {
    margin: 6px 5px 0px 225px;
}

img {
    width: 398px;
}

.post-like-comment-share-save {
    font-size: 23px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid black; */
    color: darkgray; 
}

.like {
    margin-left: 5px;
    font-size: 30px;
}

.save {
    margin-left: 275px;
}

.user{
    font-weight: bold;
}

.content {
    margin-top: 7px;
    margin-right: 8px;
    margin-bottom: 3px;
    margin-left: 8px;
}

.user-text {
    font-size: 12px;
    font-weight: 100;
    margin-top: 9px;
}
.more {
    color: gray;
}

.hours-ago {
    font-size: 10px;
}

.see-translation {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.comment-section {
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.smiley {
    font-size: 33px;
    margin-right: 2px;
}

#write-comment {
    height: 29px;
    margin-bottom: 2px;
    /* margin-top: 8px; */
    border: none;
    border-radius: 20px;
    width: 100%;

}

.inputs {
    height: 30px;
    margin-top: 8px;
    /* border: .25px solid lightgray; */
    border-radius: 20px;
    width: 100%;
    display: flex;
}

#submit {
    width: 40px;
    height: 20px;
    /* background-color: aqua; */
    position: end;
    font-family: sans-serif;
    font-size: 12px;
    border: none;
    color: lightblue;
    background-color: white;
    margin-top: 5px;
    margin-right: 7px; 
    border-radius: 30%;
    opacity: .75;
}

#submit:hover {
    background-color: lightblue;
    color: white;
    border-radius: 50%;
}




